<p class="h1 mb-3 justify-content-center d-flex">Articles</p>

<div class="alert alert-secondary" role="alert">
our blog has <%= Article.public_count%> articles and counting!
</div>

<ul>
    <% @articles.each do |article|%>
       <%unless article.archived?%>
       <div class= list-group>
            <div class="list-group-item list-group-item-action mb-3 p-5">
                <div class="d-flex w-100 justify-content-between">
                <%= link_to  article.title, article, class:"mb-1" %>
                <small>Posted: <%= time_tag article.created_at, "data-local": "time-ago"%></small>
            </div>
            </div>
        </div>
       <% end%>
    <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
